.vscode
# Transpiled source-code directory
dist/

# Dependency directories
node_modules
.husky/*
!.husky/pre-commit
.eslintcache

# Environment & configs
package-lock.json
*.env

# Personal notes
Docs/