<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Store</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    <% if(data) { %> <%- include('partials/header.html', { data }) %> <% } else { %> <%- include('partials/header.html')
    %> <% } %> <% if(layout) { %>
    <div id="layout"><%- include('layouts/'+ layout + '.html') %></div>
    <% } else { %>
    <div id="layout"><%- include('layouts/home.html') %></div>
    <% } %> <%- include('partials/footer.html') %>
    <script type="text/javascript" src="/ui.js"></script>
  </body>
</html>
