/*
  Written from scratch.
  Minimum viewport supported is 320px.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  outline: none;
}
:root {
  --dark: #404040;
  --medium-grey: #636363;
  --fine-grey: darkgrey;
  --light-grey: #eeeeee;
  --ash: #f1f3f6;
  --primary-color: #4285f4;
  --loading-color: darkorange;
  --success: #34a853;
  --fail: crimson;
  --light: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --star-size: 20px;
  --star-color: #fff;
  --star-background: darkorange;
}
.rating-stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
}
.rating-stars::before {
  content: '★★★★★';
  background: linear-gradient(90deg, var(--star-background) 0%, var(--star-background) var(--percent), rgba(255, 255, 255, 1) var(--percent), rgba(255, 255, 255, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translatey(20px);
  display: block;
  position: relative;
  font-family: Times;
  margin-top: -32px;
}
.right {
  float: right;
  margin: auto;
  font-weight: 100;
}
body {
  font-family: inherit;
  background-color: var(--ash);
  color: var(--dark);
  letter-spacing: -0.4px;
}
*.hide {
  display: none !important;
}
*.show {
  display: block !important;
}
*.show-inline {
  display: inline-block !important;
}
*.show-flex {
  display: flex !important;
}
*.success {
  color: var(--success) !important;
}
*.err {
  color: var(--fail) !important;
}
*.screenCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#blurOverlay {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
#loading {
  z-index: 99999;
  padding: 20px 40px;
  background: var(--light);
  border-radius: 30px;
  position: fixed;
  display: block;
  text-align: -webkit-center;
}
#loading input {
  width: 120px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer !important;
}
input {
  background-color: var(--ash);
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 20vw;
  border: var(--border);
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
select {
  background-color: var(--ash);
  border-radius: 6px;
  padding: 0.7rem;
  font-size: 16px;
  border: var(--border);
  display: inline-block;
  box-sizing: border-box;
  font: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position:
    right 14.8px top 1em,
    right 10px top 1em;
  background-size:
    5px 5px,
    5px 5px;
  width: 180px;
}
.btn {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  border-radius: 5px;
}
.btn-primary {
  color: var(--primary-color) !important;
}
.btn-checkout {
  background-color: crimson !important;
  color: var(--light) !important;
  width: 220px;
  font-size: 18px;
  margin: 0 auto;
}
.btn-primary:hover {
  border: 1px solid var(--primary-color) !important;
}
.btn-primary-outline {
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}
.btn-primary-solid {
  background-color: var(--primary-color) !important;
  color: var(--light) !important;
  padding-left: 0.7rem;
}
.btn.loading {
  background-color: var(--loading-color) !important;
}
.btn.success {
  background-color: var(--success) !important;
}
.acc-icon {
  opacity: 0.8;
  padding: 0 6px;
}
.icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
}
.logo {
  margin: 0 10px;
  background-color: transparent;
  color: var(--dark);
  width: max-content;
}
.logo .icon-logo {
  vertical-align: middle;
  width: auto; /* if logo is square then set to 42px;*/
  max-width: 96px;
  height: 42px;
}
.tag {
  color: var(--light) !important;
  padding: 8px;
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.tag.success {
  background-color: var(--success) !important;
}
.tag.warn {
  background-color: var(--loading-color) !important;
}
.tag.cancel {
  background-color: var(--medium-grey) !important;
}

/* Layout */
#layout {
  padding: 16px 6px 6px 6px;
  margin: 0 auto;
  max-width: 1000px;
}
#layout main h2 {
  margin-left: 20px;
  font-size: large;
}
#layout main h2 span {
  color: var(--fine-grey);
  margin-right: 10px !important;
  font-size: smaller;
  font-weight: normal;
  font-style: italic;
}
main {
  background: white;
  padding: 4px 0;
  margin-bottom: 20px;
  scroll-margin: 130px;
}
main * {
  margin: 10px 8px;
}

/* Meta/Categories Header */
#meta {
  height: 50px;
  justify-content: center;
  border-bottom: var(--border);
  background-color: var(--light);
}
/* Top Header & #Meta */
#nav-menu {
  background-color: var(--light);
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
  box-shadow: var(--shadow);
}
.container,
#meta {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 2rem;
  height: 60px;
  padding: 1.2rem 3rem;
  z-index: 999;
}
#meta {
  margin-top: 59px;
}
.nav-start,
.nav-end,
.menu-bar,
.right-container,
.nav-start .search {
  display: flex;
  align-items: center;
}
#meta .search {
  display: none;
}
.nav-start .search,
#meta .search {
  position: relative;
}
.search input {
  width: 50vw;
}
.search .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%);
  opacity: 0.6;
}
.search-results {
  position: absolute;
  top: 37px;
  border: 1px solid var(--light-grey);
  left: inherit;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 50vw;
  background: var(--light);
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.search-results div {
  margin-bottom: 10px;
}
.search-results div a {
  color: var(--fine-grey);
  cursor: pointer;
}
.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
#cart {
  padding: 0.3rem;
  font-size: x-large;
}
#cartItemCount {
  font-size: 12px;
  background: var(--primary-color);
  color: var(--light);
  font-weight: bold;
  padding: 0 5px;
  vertical-align: super;
  margin-left: -10px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
#hamburger {
  display: none;
  padding: 0.1rem;
  font-size: 1.9rem;
  margin-left: -20px;
}
#account-dropdown {
  position: absolute;
  left: auto;
  top: 50px;
  box-shadow: var(--shadow);
  padding: 0 20px;
}

/* Meta/Categories dropdown menus */
.menu {
  position: relative;
  background: var(--light);
  height: 100%;
}
.menu-bar .nav-link {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
}
.menu-bar .nav-link:hover,
.dropdown-link:hover {
  color: var(--primary-color);
}
.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
}
.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: var(--light);
  border-radius: 10px;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
}
.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}
.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}
.menu-bar .dropdown-link-title {
  font-weight: 600;
}
.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}
.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}
.menu-bar li .dropdown.type1 {
  flex-direction: initial;
  min-width: 480px;
}
.menu-bar li .dropdown.type1 ul:nth-child(1) {
  border-right: var(--border);
}
.menu-bar li .dropdown.type2 ul:nth-child(1) {
  border-bottom: var(--border);
}

/* Login Form */
#loginForm {
  width: 40vw;
  background: var(--light);
  text-align: center;
  z-index: 99999;
  border-radius: 0.5rem;
  position: fixed;
}
.close-loginForm {
  float: right;
  cursor: pointer;
  font-size: xx-large;
  margin-right: -30px;
}
#loginForm input {
  margin: 20px auto;
  min-width: 167px;
  margin-bottom: 0px;
  cursor: pointer;
}
#loginForm input#password {
  letter-spacing: 6px;
}
#loginForm .input-icon {
  position: absolute;
  left: 26.8%;
  top: 4.4rem;
  font-size: 1.3rem;
  opacity: 0.4;
}
#loginForm .fa-key {
  top: 8.4rem;
}
#loginForm small {
  display: inline-block;
  margin: 20px;
  width: 80%;
  margin-top: 8px;
}
#loginForm .err {
  margin: 6px 18px;
}
#loginForm #pwlogin {
  margin-top: 10px;
  cursor: pointer;
  color: var(--fine-grey);
}

/* User Profile/Address Page */
.profileForm {
  margin: 0;
  border-top: 1px solid var(--light-grey);
}
.profileForm table.user-info {
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
  border: 1px solid var(--ash);
  border-radius: 10px;
}
.profileForm label {
  color: var(--fine-grey);
  font-weight: bold;
  display: flex;
  justify-content: end;
  margin-left: 0;
}
.profileForm input {
  width: 180px;
  padding-left: 12px;
  font-weight: bold;
  color: var(--medium-grey);
}
.profileForm input::placeholder {
  font-weight: normal;
  font-style: italic;
  color: var(--fine-grey);
}
.profileForm #changePassword {
  cursor: pointer;
  color: var(--primary-color);
}
.profileForm .addressForm,
.profileForm .wishlist-item {
  border: 1px solid var(--ash);
  margin-left: 0;
  display: inline-grid;
  width: 100%;
}
.profileForm .addressForm {
  width: 312px;
  margin: 10px auto;
}
.profileForm .addressForm input {
  min-width: 278px;
}
.profileForm .addressForm .err {
  margin-top: 0;
  margin-left: 22px;
}
.profileForm .addressForm .success {
  margin: 0 auto;
}
.profileForm .addressForm #addr-type label {
  float: left;
  width: auto;
  margin: 4px;
  border-radius: 4px;
  border: 1px solid #d0d0d0;
  overflow: auto;
}
.profileForm .addressForm #addr-type label span {
  text-align: center;
  display: block;
}
.profileForm .addressForm #addr-type label input {
  position: absolute;
  left: -999px;
}
.profileForm .addressForm #addr-type input:checked + span {
  color: var(--primary-color);
}
.profileForm .address {
  border: 1px solid var(--fine-grey);
  width: 281.5px;
  display: inline-block;
  padding-bottom: 10px;
  border-radius: 6px;
}
.profileForm .address.default {
  box-shadow: var(--shadow);
}
.profileForm .address-cards {
  width: 100%;
  text-align: center;
}
.profileForm .address div {
  text-align: left;
}
.profileForm .address a {
  color: var(--primary-color);
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  margin: 0px 6px;
  vertical-align: super;
  font-weight: normal;
}
.profileForm .address .address-type {
  background: var(--fine-grey);
  color: var(--light);
  padding: 2px 10px;
  border-radius: 6px;
  display: inline-block;
}
.profileForm .address .address-type.default {
  background: var(--primary-color);
}
.profileForm .address .address-text {
  display: flex;
}
main .add-address {
  margin-left: 10px;
  float: right;
  margin-top: -11px;
}

/* User Profile/Wishlist Page */
.profileForm.wishlist {
  text-align: center;
}
.profileForm.wishlist table {
  width: 98.4%;
}
.profileForm .wishlist-item {
  width: 182px;
}
.profileForm .wishlist-item a {
  width: 182px;
  margin: 0;
}
.profileForm .wishlist-item img,
.profileForm .cart-item img {
  margin: 0;
  width: 180px;
  height: 180px;
  background-color: var(--light);
}
.profileForm.orders .cart-item img {
  width: 100px;
  height: 100px;
  background-color: var(--light);
}
.profileForm img.img-item {
  margin: 0;
  object-fit: contain;
  object-position: center;
}
.profileForm .wishlist-item .product-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 181px;
  display: block;
  margin: 4px;
}
.profileForm .wishlist-item h4,
.profileForm .wishlist-item h3 {
  margin: 0 2px;
  font-size: smaller;
}
.profileForm .wishlist-item .price-container {
  display: flex;
  margin: 0 2px;
}
.profileForm .wishlist-item .wishlist-cta {
  margin: 0;
  display: flex;
}
.profileForm .wishlist-item .wishlist-cta input {
  width: auto;
  padding: 8px;
  min-width: 38px;
}
.profileForm .wishlist-item .wishlist-cta i {
  position: relative;
  margin-left: -36px;
  align-content: center;
  color: var(--fine-grey);
}
.profileForm .wishlist-item .actual-price {
  color: var(--fine-grey);
  text-decoration: line-through;
}
.profileForm .continue-shopping {
  width: auto;
  margin: 0 auto;
}

/* User Cart Page */
.profileForm.cart {
  text-align: -webkit-center;
}
.profileForm.cart * {
  margin: 2px;
}
.profileForm.cart table {
  border-collapse: collapse;
}
.profileForm.cart tr {
  display: block;
  border: 1px solid #eee;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  box-shadow: 1px 4px 4px #eee;
  min-width: 318px;
  max-width: 800px;
}
.profileForm .cart-item {
  display: flex;
  min-width: 342px;
  position: relative;
}
.profileForm .cart-item input[type='button']:nth-child(1) {
  width: 128px;
}
.profileForm .cart-item input[type='button']:nth-child(2) {
  width: 42px;
  margin-left: 9px;
}
.profileForm .cart-item i {
  margin-top: 13.6px;
  margin-left: -29px;
}
.profileForm .cart-item .product-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profileForm .cart-item .product-attr {
  color: var(--fine-grey);
}
.profileForm .cart-item .price-container {
  position: absolute;
  left: 202px;
  margin-top: 140px;
  width: max-content;
}
.profileForm .cart-item .price-container .actual-price {
  color: var(--fine-grey);
  text-decoration: line-through;
}
.profileForm .cart-item .qty-container {
  position: absolute;
}
.profileForm .cart-item .qty-container span {
  position: absolute;
  left: 183px;
  margin-top: 68px;
  color: var(--fine-grey);
  letter-spacing: 0.2px;
}
.profileForm .cart-item .qty {
  display: flex;
  position: absolute;
  margin: 0;
  left: 188px;
  margin-top: 92px;
}
.profileForm .cart-item .qty input {
  width: 42px !important;
  height: 42px !important;
  border-radius: 20px;
  margin: 0 4px;
}
/* qty value */
.profileForm .cart-item .qty input:nth-child(2) {
  text-align: center;
  color: var(--dark);
  border-radius: 2px !important;
}
.profileForm .cart-item.price-details {
  display: block !important;
  padding: 10px;
  color: var(--medium-grey);
}
.profileForm .cart-item.price-details tr {
  box-shadow: none;
  border: none;
  margin: 10px !important;
  width: 80% !important;
  display: flex;
}
.profileForm .cart-item.price-details td {
  width: 100%;
}
.profileForm .cart-item.price-details h4 {
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid var(--light-grey);
}
.profileForm .cart-item.price-details tr:nth-child(3) {
  border-top: 1px solid var(--light-grey);
  padding-top: 10px;
}
#checkout-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  padding: 20px;
  margin: 0;
  border-top: 1px solid var(--light-grey);
  background-color: var(--light);
}
/* My Orders */
.profileForm .order-status {
  margin-top: 12px;
}

/* Footer */
#footer {
  background: #fafbfc;
  bottom: 0;
  position: relative;
  width: 100%;
  max-height: 60px;
  padding: 10px;
  display: grid;
  align-items: center;
}
#footer .footerContainer {
  margin: 0 auto;
}
#footer .footerContainer img {
  width: 100%;
  margin-top: 20px;
}
#footer .footerContainer small {
  --Example: 202px;
  position: absolute;
  left: 50px;
  width: calc(100% - var(--Example) / 2);
  text-align: center;
}

/* 404 Page */
#layout ._404 {
  text-align: center;
}
#layout ._404 input {
  margin: 0 auto;
  width: auto;
}

@media (max-width: 1100px) {
  #hamburger {
    display: block;
  }
  .container {
    padding: 1.2rem;
  }
  #meta {
    display: none;
  }
  .menu {
    display: none;
    position: fixed;
    top: 59px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    overflow: auto;
    z-index: 99;
  }
  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }
  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }
  .dropdown.active {
    display: block;
  }
  .dropdown ul {
    padding-left: 0.3rem;
  }
  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }
  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }
  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }
  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }
  #layout {
    margin-top: 60px;
  }
  .acc-btn-title {
    display: none;
  }
}

@media (max-width: 600px) {
  #loading {
    padding: 10px 18px;
    border-radius: 10px;
    margin-left: 0px;
    width: 200px;
  }
  #nav-menu {
    box-shadow: none;
  }
  #nav-menu .container {
    font-size: x-large;
    justify-content: space-between;
    padding: 1.2rem 3rem !important;
  }
  #nav-menu .container #login b {
    font-size: larger;
  }
  #meta {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: var(--light);
    box-shadow: var(--shadow);
    margin-top: -50px;
  }
  #meta .search {
    display: flex;
    margin-left: -42px;
  }
  #meta .search input {
    width: 118vw;
  }
  .nav-start .search {
    display: none;
  }
  .search-results {
    width: 100%;
  }
  #loginForm {
    width: 60vw;
  }
  .menu {
    top: 59px;
    width: inherit;
  }
  #layout {
    margin-top: 110px;
    width: 121%;
  }
  .addressForm input.addr {
    width: auto !important;
  }
  #footer {
    width: 121%;
  }
}

/* #loginForm input corrections */
@media (max-width: 770px) {
  #loginForm input {
    padding-left: 0.7rem;
    min-width: 158px;
  }
  #loginForm .input-icon {
    display: none;
  }
}

/* @media (min-width: 600px) and (max-width: 770px) {
  .logo .icon-logo {
    /* show square icon logo * /
    width: 42px;
  }
} */
