<main>
  <% const cartItems = data?.cart; const totalItems = cartItems?.length; const orderTotal = cartItems?.reduce((acc, itm) => acc + Number(itm?.detail?.sellPrice)*Number(itm?.qty), 0); const totalShipping = cartItems?.reduce((acc, itm) => acc + Number(itm?.detail?.shipping)*Number(itm?.qty), 0); %>
  <h2>
    MY CART <% if(totalItems) { %>
    <a href="#price-details" class="right orderTotal">Order Total ₹ <%= orderTotal+totalShipping %></a>
    <b class="noOfItems">(<%= totalItems %>)</b>
    <% } %>
  </h2>
  <div class="profileForm cart">
    <table>
      <tbody>
        <% if(totalItems) { cartItems.forEach(itm => { %>
        <tr>
          <td class="cart-item">
            <a>
              <img src="/loading.png" class="img-item" data-src="<%= itm.detail.img %>" loading="lazy" />
            </a>
            <a>
              <% if(itm.detail.title){ %>
              <span class="product-title"><%= itm.detail.title %></span>
              <% } if (itm.detail.attributes){ %>
              <small class="product-attr"><%= itm.detail.attributes %></small>
              <% } %>
            </a>
            <div class="price-container">
              <% if(itm.detail.discount){ %>
              <h4 class="success discount"><%= itm.detail.discount %> % Off</h4>
              <% } if(itm.detail.mrp){ %>
              <h4 class="actual-price">₹ <%= itm.detail.mrp %></h4>
              <% } if(itm.detail.sellPrice){ %>
              <h3 class="selling-price">₹ <%= itm.detail.sellPrice %></h3>
              <% } if(itm.detail.expectedDeliveryDate){ %>
              <small class="delivery-date">Delivery by <%= itm.detail.expectedDeliveryDate %></small>
              <% } %>
            </div>
            <div class="qty-container">
              <div class="qty">
                <input type="input" class="hide" hidden="true" name="productId" value="<%= itm.productId %>" />
                <input class="decrQty" type="button" value="-" /> <input type="text" class="qtyValue" readonly="readonly" value="<%= itm.qty || itm.detail.moq %>" /> <input class="incrQty" type="button" value="+" />
              </div>
            </div>
          </td>
          <td class="cart-item">
            <input type="input" class="hide" hidden="true" name="productId" value="<%= itm.productId %>" />
            <input type="button" class="btn btn-primary add2wishlist" value="Wishlist" />
            <input type="button" class="btn removeCartItem" value=" " />
            <i class="fa fa-trash removeCartItem"></i>
          </td>
        </tr>
        <% }); %>
        <tr id="price-details">
          <td class="cart-item price-details">
            <h4 class="product-title">Price Details</h4>
            <table>
              <tbody>
                <tr>
                  <td>Price (<%= totalItems %> Items)</td>
                  <td>₹ <%= orderTotal %></td>
                </tr>
                <tr>
                  <td>Shipping</td>
                  <% if(totalShipping) { %>
                  <td id="shippingCost">₹ <%= totalShipping %></td>
                  <% } else { %>
                  <td id="shippingCost" class="success">Free</td>
                  <% } %>
                </tr>
                <tr>
                  <td><b>Amount Payable</b></td>
                  <td><b>₹ <%= orderTotal+totalShipping %></b></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <% } else { %>
        <tr class="emptyCart">
          <td>
            <p>
              Your Cart is Empty...
              <button class="continue-shopping btn btn-primary">
                <a href="/">Continue Shopping...</a>
              </button>
              <button class="continue-shopping btn btn-primary">
                <a class="success" href="/user/wishlist">My Wishlist</a>
              </button>
            </p>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <% if(totalItems) { %>
  <div id="checkout-footer">
    <input type="button" value="PLACE ORDER" class="btn btn-checkout" />
  </div>
  <% } %>
</main>
