<main>
  <h2>MY WISHLIST <span style="color: var(--fine-grey)">(5 Items)</span></h2>
  <div class="profileForm wishlist">
    <table>
      <tbody>
        <tr>
          <!-- <td>
            <p>Nothing here yet...<a href="/">Go to Home</a></p>
          </td> -->
          <% for(const i of [1,2,3,4,5]) { %>
          <td class="wishlist-item">
            <a>
              <div class="blur-load">
                <img src="/product.jpeg" loading="lazy" />
              </div>
              <br />
              <span class="product-title">Product Title</span>
              <div class="rating-stars" style="--rating: 4.3" aria-label="Rating of this product is 4.3 out of 5.">★★★★★</div>
              <div class="price-container">
                <h4 class="success">15% Off</h4>
                <h4 class="actual-price">Rs.4,199</h4>
                <h3>Rs.2,999</h3>
              </div>
            </a>
            <div class="wishlist-cta">
              <input type="button" class="btn btn-primary-solid" value="Add to Cart" />
              <input type="button" class="btn" value=" " />
              <i class="fa-solid fa-trash" aria-hidden="true"></i>
            </div>
          </td>
          <% } %>
        </tr>
      </tbody>
    </table>
  </div>
</main>
