<main>
  <h2>MY ORDERS</h2>
  <div class="profileForm cart orders">
    <table>
      <tbody>
        <!-- <tr>
          <td>
            <p>Nothing here yet...<a href="/">Go to Home</a></p>
          </td>
        </tr> -->
        <% for(const i of [1,2,3,4,5]) { %>
        <tr>
          <td class="cart-item">
            <a>
              <img src="/loading.png" class="img-item" data-src="/product.jpeg" loading="lazy" />
            </a>
            <a>
              <span class="product-title">Product Brand's Product Title WITH Product's salient features</span>
              <br />
              <h4 class="actual-price">Rs. 4,199</h4>
            </a>
          </td>
          <td class="cart-item">
            <input type="button" class="btn btn-primary" value="INVOICE" />
            <!-- <input type="button" class="btn btn-primary" value="TRACK" /> -->
            <% if(i==2) { %>
            <div class="order-status">
              <small class="tag warn">Shipped on 24 Sep. 2024</small>
            </div>
            <% } %>
            <div class="order-status">
              <small class="tag success">Delivered on 24 Sep. 2024</small>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</main>
