<main>
  <% const wishlistItems = data?.wishlist; %>
  <h2>MY WISHLIST <% if(wishlistItems?.length) { %> <span class="right"><%= wishlistItems.length %> Item(s)</span> <% } %></h2>
  <div class="profileForm wishlist">
    <table>
      <tbody>
        <tr>
          <% if(wishlistItems?.length) { wishlistItems.forEach(favItem => { %>
          <td class="wishlist-item">
            <a href="<%= favItem.url || '/' %>">
              <img src="/loading.png" class="img-item" data-src="<%= favItem.img %>" loading="lazy" />
              <br />
              <span class="product-title"><%= favItem.title %></span>
              <div class="rating-stars" style="--rating: <%= favItem.rating %>" aria-label="Rating of this product is <%= favItem.rating %> out of 5.">★★★★★</div>
              <div class="price-container">
                <h4 class="success"><%= favItem.discount %></h4>
                <h4 class="actual-price"><%= favItem.mrp %></h4>
                <h3><%= favItem.sellPrice %></h3>
              </div>
            </a>
            <div class="wishlist-cta">
              <input type="input" class="hide" hidden="true" name="productId" value="<%= favItem.id %>" />
              <input type="button" class="btn btn-primary-solid add2cart" value="Add to Cart" />
              <input type="button" class="btn removeItem" value=" " />
              <i class="fa-solid fa-trash removeItem" aria-hidden="true"></i>
            </div>
          </td>
          <% }); } else { %>
          <td>
            <p>
              Nothing here yet...
              <button class="continue-shopping btn btn-primary">
                <a href="/">Continue Shopping...</a>
              </button>
            </p>
          </td>
          <% } %>
        </tr>
      </tbody>
    </table>
  </div>
</main>
