<main>
  <h2>My Account</h2>
  <div class="profileForm">
    <table>
      <tr>
        <td><label>Mobile</label></td>
        <td><input name="mobile" value="<%= data.mobile %>" disabled /></td>
      </tr>

      <tr>
        <td><label>Name</label></td>
        <td><input value="<%= data.name %>" name="name" /></td>
      </tr>
      <tr id="nameErr" class="hide err">
        <td><label></label></td>
        <td><span></span></td>
      </tr>

      <tr>
        <td><label>Email</label></td>
        <td><input value="<%= data.email %>" name="email" /></td>
      </tr>
      <tr id="emailErr" class="hide err">
        <td><label></label></td>
        <td><span></span></td>
      </tr>

      <tr>
        <td><label>Gender</label></td>
        <td>
          <select name="gender">
            <option value="">Please select</option>
            <option value="Male" <%= (data.gender ==='Male') && 'selected' %> >Male</option>
            <option value="Female" <%= (data.gender ==='Female') && 'selected' %>>Female</option>
          </select>
        </td>
      </tr>
      <tr id="genderErr" class="hide err">
        <td><label></label></td>
        <td><span></span></td>
      </tr>

      <tr>
        <td><label>Password</label></td>
        <td>
          <span class="" id="changePassword">Set/Change</span>
          <input class="hide" name="password" type="password" />
        </td>
      </tr>
      <tr id="profilePasswordErr" class="hide err">
        <td><label></label></td>
        <td><span></span></td>
      </tr>

      <tr id="re-password" class="hide">
        <td></td>
        <td><input name="repassword" type="password" placeholder="Re-type Password" /></td>
      </tr>
      <tr id="profileRePasswordErr" class="hide err">
        <td><label></label></td>
        <td><span></span></td>
      </tr>

      <tr>
        <td></td>
        <td><input id="update-profile" type="button" class="btn-primary-solid" value="UPDATE" /></td>
      </tr>
      <tr id="profileUpdateErr" class="hide err">
        <td><label></label></td>
        <td><span></span></td>
      </tr>
    </table>
  </div>
</main>
<main>
  <h2>
    My Addresses
    <button id="add-address" class="btn btn-primary add-address">Add new</button>
  </h2>
  <div class="profileForm">
    <div class="addressForm hide">
      <input name="addrId" class="hide" value="" />
      <input name="addrName" placeholder="Contact Name (Required)*" />
      <span id="addrNameErr" class="err hide">Invalid Name</span>

      <input name="addrMobile" placeholder="Phone Number (Required)*" />
      <span id="addrMobileErr" class="err hide">Invalid Mobile Number</span>

      <input name="addrLine1" class="addr" placeholder="House No. Bldg Name (Required)*" />
      <span id="addrLine1Err" class="err hide">Invalid Address</span>

      <input name="addrLine2" class="addr" placeholder="City/Town, State (Required)*" />
      <span id="addrLine2Err" class="err hide">Invalid Address</span>

      <input name="addrPincode" placeholder="Pincode (Required)*" />
      <span id="addrPincodeErr" class="err hide">Invalid Pincode</span>

      <div id="addr-type">
        <label class="Home"><input type="radio" value="Home" name="addrType" /><span>Home</span></label>
        <label class="Work"><input type="radio" value="Work" name="addrType" /><span>Work</span></label>
      </div>
      <span id="addrTypeErr" class="err hide">Please choose Address-Type</span>
      <input name="saveAddr" type="button" class="btn-primary-solid" value="Save" />
      <span id="addrUpdateErr" class="err hide">Something went wrong!</span>
      <input name="cancelAddr" type="button" class="btn-primary" value="Cancel" />
    </div>
    <table>
      <tbody>
        <tr>
          <% if(data?.allAddresses?.length) { 
            data.allAddresses.forEach(addr => { 
              const isDefault = (Number(addr.id) === Number(data.defaultShippingAddress)); 
              let tdClass='';
              if(isDefault){
                tdClass = 'default';
              }
          %>
          <td class="address <%= tdClass %>">
            <div>
              <span class="address-type"><%= addr.addressType %></span>
              <% if(isDefault) { %>
              <span class="address-type default">Default</span>
              <% } %>
              <br />
              <span class="address-name"><b><%= addr.name %></b></span>
              <span class="address-text"><%= addr.addressText %></span>
              <span class="address-pincode"><%= addr.pincode %></span>
              <span class="address-id hide"><%= addr.id %></span>
              <br />
              <span class="address-mobile">Phone Number: <%= addr.mobile %></span>
            </div>
            <br />
            <a class="editAddr">Edit</a>
            <% if(!isDefault) { %>
              <a class="delAddr">Remove</a>
            <a class="defAddr">Set as Default</a>
            <% } %>
          </td>
          <% }); } %>
        </tr>
      </tbody>
    </table>
  </div>
</main>
