<main>
  <h2>My Wishlist</h2>
  <div class="profileForm">
    <table>
      <tbody>
        <tr>
          <!-- <td>
              <p>Nothing here yet...<a href="/">Go to Home</a></p>
            </td> -->
          <td class="wishlist-item">
            <a>
              <img src="xxxxxxxxxxxxx" />
              <br />
              <span class="product-title">Product Title</span>
            </a>
            <div class="wishlist-cta">
              <input type="button" class="btn btn-primary-outline" value="Add to Cart" />
              <input type="button" class="btn" value=" " />
              <i class="fa-solid fa-trash" aria-hidden="true"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
